In [229]:
import os
import sys
sys.path.append(os.path.abspath('..'))
import json
import builtins

In [230]:
from pyspark.sql import SparkSession
from Functions.data_extraction import movie
from Functions.Schema import get_tmdb_raw_schema
from Functions.data_cleaning import extract_data, extract_name,get_director,separate_data,get_cast_names,get_crew_names
from Functions.KPIs_Analysis import rank_movies
from pyspark.sql.functions import col, lit, round, size, coalesce
from pyspark.sql.types import DoubleType

In [231]:
# Initialize Spark
spark = SparkSession.builder \
    .appName("TMDB Movie Analysis") \
    .config("spark.driver.memory", "4g") \
    .config("spark.sql.shuffle.partitions", "8") \
    .getOrCreate()

print("✓ PySpark initialized successfully!")
print(f"   Spark Version: {spark.version}")

✓ PySpark initialized successfully!
   Spark Version: 3.5.0

In [232]:
#Extracting perferred movie data from the Api
key = os.getenv("key")

movies = []

movie_ids = [0,299534, 19995, 140607, 299536, 597, 135397, 420818,
             24428, 168259, 99861, 284054, 12445, 181808, 330457,
               351286, 109445, 321612, 260513
]

for movie_id in movie_ids:
    movies.append(movie(movie_id,key))

#print(movies)

Movie ID 0 not found (404). Skipping.

In [233]:
movies = list(builtins.filter(None, movies))

In [234]:
# Read with multiLine and let Spark infer schema
df = spark.read \
    .option("multiLine", "true") \
    .option("mode", "PERMISSIVE") \
    .option("columnNameOfCorruptRecord", "_corrupt_record") \
    .json('tmdb_movies.json')

In [235]:
df.show(truncate=True)

+-----+--------------------+---------------------+---------+--------------------+--------------------+--------------------+------+---------+--------------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+----------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|adult|       backdrop_path|belongs_to_collection|   budget|             credits|              genres|            homepage|    id|  imdb_id|origin_country|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|release_date|   revenue|runtime|    spoken_languages|  status|             tagline|               title|video|vote_average|vote_count|
+-----+--------------------+---------------------+---------+--------------------+--------------------+--------------------+------+---------+--------------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+----------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|false|/7RyHsO4yDXtBv1zU...| {/zuW6fOiusv4X9nn...|356000000|{[{false, 493, To...|[{12, Adventure},...|https://www.marve...|299534|tt4154796|          [US]|               en|   Avengers: Endgame|After the devasta...|   18.6659|/bR8ISy1O9XQxqiy0...|[{420, /hUzeosd33...|[{US, United Stat...|  2019-04-24|2799439100|    181|[{English, en, En...|Released|  Avenge the fallen.|   Avengers: Endgame|false|       8.238|     27117|
|false|/vL5LR6WdxWPjLPFR...| {/6qkJLRCZp9Y3ovX...|237000000|{[{false, 242, Ja...|[{28, Action}, {1...|https://www.avata...| 19995|tt0499549|          [US]|               en|              Avatar|In the 22nd centu...|   70.1711|/gKY6q7SjCkAU6Fqv...|[{444, NULL, Dune...|[{US, United Stat...|  2009-12-16|2923706026|    162|[{English, en, En...|Released|Enter the world o...|              Avatar|false|         7.6|     33228|
|false|/8BTsTfln4jlQrLXU...| {/qVPChlozQ1BP3sv...|245000000|{[{false, 8, Han ...|[{12, Adventure},...|http://www.starwa...|140607|tt2488496|          [US]|               en|Star Wars: The Fo...|Thirty years afte...|    9.7883|/wqnLdwVXoBjKibFR...|[{1, /tlVSws0Rvvt...|[{US, United Stat...|  2015-12-15|2068223624|    136|[{English, en, En...|Released|Every generation ...|Star Wars: The Fo...|false|       7.254|     20190|
|false|/mDfJG3LC3Dqb67AZ...| {/zuW6fOiusv4X9nn...|300000000|{[{false, 1, Tony...|[{12, Adventure},...|https://www.marve...|299536|tt4154756|          [US]|               en|Avengers: Infinit...|As the Avengers a...|   28.8523|/7WsyChQLEftFiDOV...|[{420, /hUzeosd33...|[{US, United Stat...|  2018-04-25|2052415039|    149|[{English, en, En...|Released|Destiny arrives a...|Avengers: Infinit...|false|       8.235|     31330|
|false|/xnHVX37XZEp33hhC...|                 NULL|200000000|{[{false, 412, Ja...|[{18, Drama}, {10...|https://www.param...|   597|tt0120338|          [US]|               en|             Titanic|101-year-old Rose...|   35.3101|/9xjZS2rlVxm8SFx8...|[{4, /jay6WcMgagA...|[{US, United Stat...|  1997-12-18|2264162353|    194|[{English, en, En...|Released|Nothing on earth ...|             Titanic|false|         7.9|     26648|
|false|/s5QfDFqRO6sjgPtK...| {/njFixYzIxX8jsn6...|150000000|{[{false, 10, Owe...|[{28, Action}, {1...|https://www.juras...|135397|tt0369610|          [US]|               en|      Jurassic World|Twenty-two years ...|   11.0354|/rhr4y79GpxQF9Isf...|[{56, /cEaxANEisC...|[{US, United Stat...|  2015-06-06|1671537444|    124|[{English, en, En...|Released|   The park is open.|      Jurassic World|false|         6.7|     21212|
|false|/1TUg5pO1VZ4B0Q1a...| {/1KeXF239BkqLChc...|260000000|{[{false, 17, Sca...|[{12, Adventure},...|https://movies.di...|420818|tt6105098|          [US]|               en|       The Lion King|Simba idolizes hi...|   12.3164|/dzBtMocZuJbjLOXv...|[{2, /wdrCwmRnLFJ...|[{US, United Stat...|  2019-07-12|1662020819|    118|[{English, en, En...|Released|The king has retu...|       The Lion King|false|       7.099|     10602|
|false|/9BBTo63ANSmhC4e6...| {/zuW6fOiusv4X9nn...|220000000|{[{false, 46, Ton...|[{878, Science Fi...|https://www.marve...| 24428|tt0848228|          [US]|               en|        The Avengers|When an unexpecte...|   65.5674|/RYMX2wcKCBAr24Uy...|[{420, /hUzeosd33...|[{US, United Stat...|  2012-04-25|1518815515|    143|[{English, en, En...|Released|Some assembly req...|        The Avengers|false|       7.902|     35016|
|false|/ehzI1mVcnHqB58Nq...| {/z5A5W3WYJc3UVEW...|190000000|{[{false, 17, Dom...|[{28, Action}, {8...|https://www.uphe....|168259|tt2820852|          [US]|               en|           Furious 7|Deckard Shaw seek...|    10.711|/ktofZ9Htrjiy0P6L...|[{333, /5xUJfzPZ8...|[{US, United Stat...|  2015-04-01|1515400000|    139|[{Arabic, ar, الع...|Released|Vengeance hits home.|           Furious 7|false|        7.22|     11083|
|false|/kIBK5SKwgqIIuRKh...| {/zuW6fOiusv4X9nn...|235000000|{[{false, 76, Ton...|[{28, Action}, {1...|https://www.marve...| 99861|tt2395427|          [US]|               en|Avengers: Age of ...|When Tony Stark t...|   15.7724|/4ssDuvEDkSArWEdy...|[{420, /hUzeosd33...|[{US, United Stat...|  2015-04-22|1405403694|    141|[{English, en, En...|Released| A new age has come.|Avengers: Age of ...|false|       7.271|     23996|
|false|/19Ed4XgjahPm4U8J...| {/nsiBzWsmmerBMuD...|200000000|{[{false, 0, T'Ch...|[{28, Action}, {1...|https://www.marve...|284054|tt1825683|          [US]|               en|       Black Panther|King T'Challa ret...|   11.3128|/uxzzxijgPIY7slzF...|[{420, /hUzeosd33...|[{US, United Stat...|  2018-02-13|1349926083|    135|[{English, en, En...|Released| Long live the king.|       Black Panther|false|       7.365|     23069|
|false|/cbcpDn6XJaIGoOil...| {/kmEsQL2vOTA0jnM...|125000000|{[{false, 6, Harr...|[{12, Adventure},...|https://www.warne...| 12445|tt1201607|          [GB]|               en|Harry Potter and ...|Harry, Ron and He...|   17.6262|/c54HpQmuwXjHq2C9...|[{174, /ingPVoHnI...|[{GB, United King...|  2011-07-12|1341511219|    130|[{English, en, En...|Released|        It all ends.|Harry Potter and ...|false|       8.083|     21566|
|false|/5Iw7zQTHVRBOYpA0...| {/qVPChlozQ1BP3sv...|300000000|{[{false, 14, Luk...|[{12, Adventure},...|https://www.starw...|181808|tt2527336|          [US]|               en|Star Wars: The La...|Rey develops her ...|    8.9963|/ySaaKHOLAQU5HoZq...|[{1, /tlVSws0Rvvt...|[{US, United Stat...|  2017-12-13|1332698830|    152|[{English, en, En...|Released|   Let the past die.|Star Wars: The La...|false|       6.762|     16012|
|false|/AoSZyb37ljMAxw0R...| {/s3vdRkK7KZFUDC8...|150000000|{[{false, 41, Els...|[{10751, Family},...|https://movies.di...|330457|tt4520988|          [US]|               en|           Frozen II|Elsa, Anna, Krist...|    12.108|/mINJaa34MtknCYl5...|[{6125, /tzsMJBJZ...|[{US, United Stat...|  2019-11-20|1453683476|    103|[{English, en, En...|Released|The past is not w...|           Frozen II|false|       7.238|     10118|
|false|/6WA9stUMbIkEPxn3...| {/njFixYzIxX8jsn6...|170000000|{[{false, 198, Ow...|[{28, Action}, {1...|https://www.uphe....|351286|tt4881806|          [US]|               en|Jurassic World: F...|Three years after...|   10.1162|/x2Us3jR6ToMJjbcP...|[{56, /cEaxANEisC...|[{US, United Stat...|  2018-06-06|1310469037|    129|[{English, en, En...|Released|   The park is gone.|Jurassic World: F...|false|       6.536|     12478|
|false|/9WHM084AoskcHCOb...| {/s3vdRkK7KZFUDC8...|150000000|{[{false, 6, Elsa...|[{16, Animation},...|http://movies.dis...|109445|tt2294629|          [US]|               en|              Frozen|Young princess An...|   17.6355|/itAKcobTYGpYT8Ph...|[{6125, /tzsMJBJZ...|[{US, United Stat...|  2013-11-20|1274219009|    102|[{English, en, En...|Released|Only the act of t...|              Frozen|false|       7.248|     17268|
|false|/uU1Mt4JWhDvl4vKb...|                 NULL|160000000|{[{false, 174, Be...|[{10751, Family},...|http://movies.dis...|321612|tt2771200|          [US]|               en|Beauty and the Beast|A live-action ada...|   17.2818|/hKegSKIDep2ewJWP...|[{2, /wdrCwmRnLFJ...|[{US, United Stat...|  2017-03-16|1266115964|    129|[{French, fr, Fra...|Released|       Be our guest.|Beauty and the Beast|false|       6.969|     15874|
|false|/mabuNsGJgRuCTuGq...| {/6oi6V1O9MJRNnfV...|200000000|{[{false, 320, Bo...|[{28, Action}, {1...|https://movies.di...|260513|tt3606756|          [US]|               en|       Incredibles 2|Elastigirl spring...|     7.749|/9lFKBtaVIhP7E2Pk...|[{3, /1TjvGVDMYsj...|[{US, United Stat...|  2018-06-14|1243225667|    118|[{English, en, En...|Released|It's been too lon...|       Incredibles 2|false|       7.454|     13439|
+-----+--------------------+---------------------+---------+--------------------+--------------------+--------------------+------+---------+--------------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+----------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+

In [236]:
# Apply extract_data function to get genre names
df = df.withColumn("genres", extract_data(col("genres")))

# Apply extract_name function to get collection names
# Need to pass 'name' as a literal column since the UDF expects column parameters
df = df.withColumn("belongs_to_collection", extract_name(col("belongs_to_collection"), lit("name")))

# Apply extract_data function to get production countries names
df = df.withColumn("production_countries", extract_data(col("production_countries")))

# Apply extract_data function to get production companies names
df = df.withColumn("production_companies", extract_data(col("production_companies")))

# Apply extract_data function to get spoken_languages
df = df.withColumn("spoken_languages", extract_data(col("spoken_languages")))

In [237]:
df = df.withColumn("cast", get_cast_names(col("credits")))
df = df.withColumn("crew", get_crew_names(col("credits")))

In [238]:
df = df.withColumn("director", get_director(col("credits")))

In [239]:
df = (
    df
    .withColumn("cast_size", coalesce(size(col("credits.cast")), lit(0)))
    .withColumn("crew_size", coalesce(size(col("credits.crew")), lit(0)))
)

In [240]:
cols_to_drop = ["adult", "imdb_id", "original_title", "video", "homepage"]
df = df.drop(*cols_to_drop)

In [241]:
columns_to_separate = ['genres', 'spoken_languages', 'production_countries', 'production_companies','cast','crew']
for column in columns_to_separate:
    df = separate_data(df, column)

In [242]:
# Convert budget & revenue to millions and round to 2 decimals
df = df.withColumn("budget_musd", round(col("budget") / 1_000_000, 2)) \
       .withColumn("revenue_musd", round(col("revenue") / 1_000_000, 2))

In [243]:
# Drop the 'status' column
df = df.drop("status")

In [244]:
df = df.select('id', 'title', 'tagline', 'release_date', 'genres', 'belongs_to_collection', 
         'original_language', 'budget_musd', 'revenue_musd', 'production_companies', 
         'production_countries', 'vote_count', 'vote_average', 'popularity', 'runtime',
           'overview', 'spoken_languages', 'poster_path', 'cast', 'cast_size', 'director', 'crew_size')

In [245]:
# Ensure numeric (cast to double)
df = (
    df
    .withColumn("budget_musd", col("budget_musd").cast(DoubleType()))
    .withColumn("revenue_musd", col("revenue_musd").cast(DoubleType()))
)

# Profit
df = df.withColumn(
    "profit",
    col("revenue_musd") - col("budget_musd")
)

# ROI
df = df.withColumn(
    "roi",
    (col("revenue_musd") / col("budget_musd")) * 100
)

In [246]:
# Top 5 movies by revenue
highest_revenue = rank_movies(df, column='revenue_musd', n=5)

for i, row in enumerate(highest_revenue.collect(), 1):
    print(f"{i}. {row['title']} - ${row['revenue_musd']}M")

1. Avatar - $2923.71M
2. Avengers: Endgame - $2799.44M
3. Titanic - $2264.16M
4. Star Wars: The Force Awakens - $2068.22M
5. Avengers: Infinity War - $2052.42M

In [247]:
# Highest Budget using rank_movies 
highest_budget = rank_movies(df, column='budget_musd', n=1) 
for row in highest_budget.collect(): 
    print(f"The highest budget: ${row['budget_musd']}M - {row['title']}")

The highest budget: $356.0M - Avengers: Endgame

In [248]:
#Highest profit
highest_profit = rank_movies(df, column='profit', n=1) 
for row in highest_profit.collect(): 
    print(f'The highest profit: ${row["profit"]}M - {row["title"]}')

The highest profit: $2686.71M - Avatar

In [222]:
#Lowest profit
lowest_profit = rank_movies(df, column='profit', ascending=True, n=1) 
for row in lowest_profit.collect(): 
    print(f'The lowest profit: ${row["profit"]}M - {row["title"]}')

The lowest profit: $1032.7M - Star Wars: The Last Jedi

In [223]:
# Highest ROI using rank_movies (only movies with Budget >= 10M)
highest_roi = rank_movies(df, column='roi', n=1, min_budget=10)
for row in highest_roi.collect():
    print(f'The highest Return On Investment: {row["roi"]:.2f} - {row["title"]}')

The highest Return On Investment: 1233.63 - Avatar

In [224]:
# Lowest ROI using rank_movies (only movies with Budget >= 10M)
lowest_roi = rank_movies(df, column='roi', ascending=True, n=1, min_budget=10)
for row in lowest_roi.collect():
    print(f'The lowest Return On Investment: {row["roi"]:.2f} - {row["title"]}')

The lowest Return On Investment: 444.23 - Star Wars: The Last Jedi

In [225]:
# Most Voted Movies using rank_movies
most_voted = rank_movies(df, column='vote_count', n=1)

for row in most_voted.collect():
    print(f'The most voted movie: {row["title"]}')

The most voted movie: The Avengers

In [226]:
# Highest Rated Movies (only movies with ≥ 10 votes)
highest_rate = rank_movies(df, column='vote_average', n=1, min_votes=10)
for row in highest_rate.collect():
    print(f'The most rated movie: {row["vote_average"]} - {row["title"]}')

The most rated movie: 8.238 - Avengers: Endgame

In [227]:
# Lowest Rated Movies (only movies with ≥ 10 votes) using rank_movies
lowest_rate = rank_movies(df, column='vote_average', ascending=True, n=1, min_votes=10)
for row in lowest_rate.collect():
    print(f'The lowest rated movie: {row["vote_average"]} - {row["title"]}')

The lowest rated movie: 6.536 - Jurassic World: Fallen Kingdom

In [228]:
# Most Popular Movies using rank_movies
most_popular = rank_movies(df, column='popularity', n=1)
for row in most_popular.collect():
    print(f'The most popular movie: {row["title"]}')

The most popular movie: Avatar